/* font-family: 'Poppins', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Quicksand', sans-serif; */
h1,h3{
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
}
h2{
    font-family: 'Poppins', sans-serif;
}

.inBox{
    /* background-color: #689368; */
    background: linear-gradient(to bottom right,#298d29,#1d581d);
    color: white;
    /* max-width: 500px; */
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    margin: 1px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}
.addBtn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

#main1 {
    background-color: #B4D330;
    min-height: 32.4rem;
    margin: 0;
    padding-top: 3rem;
  }
  
  #main1 p {
    margin: 0;
    padding: 0;
  }

.searchBox{
  background-color: black;
  padding: 25px;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 20px;
}

  .card{
    /* background-color: #D8DFE9; */
    /* background-color: #022831; */
    padding-bottom: 5px;
    border-radius: 15px;
    transition: 0.5s;
  }
  .card:hover{
  transform: scale(1.05);
  box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.403);
  transition: 0.5s;  
  }
  
  .imgbox{
    width: 150px;
    height: 150px;

    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* transition: 0.5s; */
  }
  /* .imgbox2{
    width: 30rem;
    height: 30rem;
    background-color: #5c3909;
    background-size: cover;
    
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  } */
  .image-container {
    width: 100%;
    height: 300px;
    /* overflow: hidden; */
    position: relative;
  }
  #inImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  s{
    color: red;
  }
  a{
    transition: 0.5s;
    border-radius: 25px;
  }
  a:hover{
    background-color: green;
    box-shadow: 1px 1px 15px 5px green;
    border-radius: 5px;
    color: white;
    transform: scale(1.09);
    transition: 0.5s;
  }
  #remBtn{
    border-radius: 25px;
  }
  #remBtn:hover{
    background-color: rgb(236, 27, 27);
    box-shadow: 1px 1px 15px 5px red;
    border-radius: 5px;
    color: white;
    transform: scale(1.09);
    transition: 0.5s;
  }