<div id="main1">
    <div class="container">
        <div class="row d-flex justify-content-center text-center gx-1">
            <h1><i class="fa-solid fa-carrot"></i> GroceryApp</h1>
            <h2><i class="fa-solid fa-house"></i> Home</h2>
            <div class="col-md-7 box1 mt-2">
                <p>Welcome to our grocery app website - your one-stop-shop for convenient online grocery shopping! Click the "shop" button to browse our wide selection of high-quality products at competitive prices. With easy checkout and order tracking, you can enjoy stress-free grocery shopping from the comfort of your own home. Start shopping now!</p>
                <a routerLink="/groceryapp/shop" class="btn btn-success btn-outline-light m-2"><i class="fa-solid fa-store"></i> Shop</a>
                <a routerLink="/groceryapp/cart" class="btn btn-primary btn-outline-light m-2"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            </div>
        </div>
    </div>
</div>